.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    font-family: "Montserrat Alternates", serif;
    background-color: rgba(255,255,255, 0);
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0px 10px;
    font-weight: 500;
    gap: 10px;
    min-width: 100px;
    max-width: 200px;
    border: 2px solid #656565;
}
.dropdown-btn p{
    font-size: inherit;
    overflow-x: hidden;
    color: inherit;
}
.wrapper.dark .dropdown-btn{
    color: #fff;
}
.dropdown-btn img{
    width: 15px;
    transition: 0.2s ease all;
}
.dropdown-btn img{
    filter: invert(1)
}
.wrapper.dark .dropdown-btn img{
    filter: invert(0)
}
.rotate{
    transform: rotateX(180deg)
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 5;
    border-radius: 10px;
    overflow-y: auto;
    max-height: 150px;
    overflow-x: hidden !important;
    backdrop-filter: blur(2px);
}
.wrapper.dark .dropdown-content{
    background-color: rgba(0,0,0,0.8);
    scrollbar-color: #fff !important; /*хз не працює*/
}

.dropdown-content p, .dropdown__item {
    color: #000;
    padding: 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 10px;
}
.wrapper.dark .dropdown-content p, .wrapper.dark .dropdown__item{
    color: #fff;
}

.dropdown-content p:hover, .dropdown__item:hover {
    background-color: rgba(209, 209, 209, 0.9);
}
.wrapper.dark .dropdown-content p:hover, .wrapper.dark .dropdown__item:hover{
    background-color: rgba(40, 40, 40, 0.9);
}
.dropdown__add{
    margin-top: 10px;
    border-top: 2px solid #2f2f2f;
    padding: 10px 0px 0px 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wrapper.dark .dropdown__add{
    border-top: 2px solid #717171;
}
.dropdown__create{
    font-size: 16px;
    padding: 5px 0px;
    cursor: pointer;
}
.dropdown-content {
    display: block;
}
.dropdown-content input{
    border-radius: 5px;
    border: none;
    outline: none;
    border: 2px solid #717171;
    padding: 5px;
    width: 85%;
    background-color: #fff;
    color: #000;
    font-family: inherit;
}
.wrapper.dark .dropdown-content input{
    background-color: #161616;
    color: #fff;
}
.wrapper.dark .dropdown-content input::placeholder{
    color: #c9c9c9;
}
.dropdown__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 5px 0px 0px;
}
.dropdown__edit{
    display: flex;
    gap: 10px;
}
.dropdown__item img{
    width: 20px;
    transition: 0.2s ease all;
    filter: invert(0.3)
}
.dropdown__item img:hover{
    filter: invert(0)
}
.wrapper.dark .dropdown__item img{
    filter: invert(0.7)
}
.wrapper.dark .dropdown__item img:hover{
    filter: invert(1)
}
.dropdown__item p{
    width: 90%;
    word-break: break-word;
}
.dropdown__item p:hover{
    background-color: rgba(255,255,255,0) !important;
}
.dropdown__item input{
    padding: 4px;
}
@media screen and (max-width: 1000px) {
    .dropdown-btn{
        min-width: 90px !important;
        font-size: 16px !important;
    }
}