.newmain{
}
.hello{
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    backdrop-filter: blur(2px);
    justify-content: center;
}
/* .hello input{
    padding: 5px 5px 0px 5px;
    font-size: inherit;
    font-weight: inherit;
    background-color: rgba(255,255,255, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    width: 20vw;
    font-family: "Montserrat Alternates", serif;
    color: inherit;
}
.hello input:focus, .hello input:hover{
    outline: 2px rgba(0,0,0,0.3) solid;
} */

.hello h1{
    font-size: 4vw;
    font-weight: 600;
}
.hello h2{
    font-size: 8vw;
    font-weight: 700;
}
@media screen and (max-width: 1300px){
    .hello h1{
        font-size: 50px;
    }
    .hello h2{
        font-size: 100px;
    }
}
@media screen and (max-width: 500px){
    .hello h1{
        font-size: 30px;
    }
    .hello h2{
        font-size: 60px;
    }
}


/* TRACKER */
.hello .trackers__info{
    margin-right: auto;
}
.hello .trackers__info input{
    width: 225px;
}
.hello .trackers__add{
    margin-top: 20px;
    width: 500px;
    flex-direction: column;
    height: max-content;
    padding: 10px;
}
@media screen and (max-width: 1000px){
    .hello .trackers__add{
        width: 500px !important;
        flex-direction: column !important;
        height: max-content !important;
        padding: 10px !important;
    }
}
@media screen and (max-width: 1000px){
    .hello .trackers__info{
        justify-content: start !important;
        gap: 20px !important;
    }
}
@media screen and (max-width: 600px){
    .hello .trackers__add{
        width: 300px !important;
    }
}
@media screen and (max-width: 400px){
    .hello .trackers__add{
        width: 230px !important;
    }
}
.hello .trackers__start{
    margin-left: auto;
}