.glist{
    padding: 10px 0px 10px 0px;
}
.glist__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.goals__limit{
    display: flex;
    gap: 15px;
    align-items: center;
}
.goals__add{
    padding: 0px 15px;
}
.goals__add .tstart__input{
    width: 300px;
}
.gstart__input, .goals__input input{
    width: 35px;
    height: 35px;
    padding: 5px 0px 5px 0px;
    box-sizing: border-box;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 8px;
    font-weight: 500;
    transition: none;
    background: none;
}
.wrapper.dark .gstart__input,.wrapper.dark .goals__input input{
    border: 1px solid rgba(255,255,255,0.8);
}
.gstart__input:focus, .goals__input input:focus, .goals__input input:hover{
    border: 1px solid #000;
    outline: none;
}
.wrapper.dark .gstart__input:focus,.wrapper.dark .goals__input input:focus,.wrapper.dark .goals__input input:hover{
    border: 1px solid #fff;
    outline: none;
}
.goals__input{
    display: flex;
    gap: 15px;
    align-items: center;
}
.gitem{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    margin: 0px 10px;
    border-radius: 15px;
    z-index: 1000 !important;
    border: none;
    background-color: rgba(0,0,0,0.05);
    align-items: center;
    cursor: pointer;
}
.gstart__button{
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    padding: 7px 12px;
    cursor: pointer;
    user-select: none;
}
.gitem-dragging{
    background-color: #d3d3d3;
    pointer-events: none;
    margin: 0px 10px;
}
.gitem-dragging *{
    visibility: hidden !important;
    transition: none !important;
}
.glist .tlist__header{
    height: 40px;
    top: -40px;
}
.gitem__edit{
    display: flex;
    align-items: center;
    gap: 20px;
}
.gitem__circle{
    border-radius: 100px;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gitem__name{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
}
.wrapper.dark .glist .titem__circle{
    border: 2px solid #fff;
}
.glist .titem__circle p{
    font-size: 18px;
    font-weight: 600;
}
.gitem .titem__info{
    display: flex;
    justify-content: end;
    gap: 30px;
}
.titem__time img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.wrapper.dark .titem__time img{
    filter: invert(1)
}
.movedown{
    transform: rotate(180deg)
}
@media screen and (max-width: 900px) {
    .glist .titem__edit{
        flex-direction: row !important;
    }
    .goals__add .trackers__info{
        gap: 10px !important;
    }
    .goalslist{
        align-items: start;
        gap: 20px;
    }
    .goals__add .trackers__info{
        justify-content: flex-start !important;
    }
    .glist .titem__time img, .glist .titem__delete img{
        width: 26px !important;
        height: 26px !important;
    }
    .gitem__name{
        max-width: 100px !important;
        font-size: 14px !important;
    }
    .goals__input input{
        width: 28px;
        height: 28px;
    }
    .glist .titem__info{
        gap: 20px;
    }
}
@media screen and (max-width: 840px) {
    .goals__add{
        height: 60px !important;
        flex-direction: row !important;
    }
}
@media screen and (max-width: 750px) {
    .glist .titem{
        gap: 20px;
    }
    .glist .titem__info{
        width: min-content !important;
        padding: 0px 0px 5px 0px;
        margin-left: auto;
    }
}

@media screen and (max-width: 650px) {
    .goals__add .trackers__info{
        justify-content: center !important;
    }
    .gstart__button{
        font-size: 14px;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 350px) {
    .goals__add{
        width: min-content !important;
        height: min-content !important;
        padding: 10px;
        flex-direction: column !important;
    }
    .goals__add .trackers__info{
        align-items: center !important;
    }
    .goals .goals__add .trackers__info input{
        width: 200px !important;
    }
}
@media screen and (max-width: 250px) {
    .goals .goals__add .trackers__info input{
        width: 150px !important;
    }
}
@media screen and (max-width: 500px) {
    .goals__add .trackers__info input{
        width: 120px !important;
    }
    .glist .titem__edit{
        gap: 15px !important;
    }
    .glist .titem__info{
        gap: 6px !important;
    }
    .gitem__name{
        max-width: 65px !important;
    }
    .glist .titem__time img, .glist .titem__delete img{
        width: 24px !important;
        height: 24px !important;
    }
    .gitem__name{
        max-width: 60px !important;
        font-size: 14px !important;
    }
    .goals__input{
        gap: 12px;
    }
    .gitem__edit{
        gap: 10px;
    }

}
@media screen and (max-width: 1300px) {
    .goals__add .trackers__info .goals__limit input{
        width: 40px !important;
    }
}

/* ------------------ */
.gitem__actions{
    display: flex;
    height: 25px;
    background-color: #000;
    border-radius: 100px;
}
.gitem__actions .gitem__action:nth-child(1){
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid #151515;
}
.gitem__actions .gitem__action:nth-child(2){
    border-radius: 0px 10px 10px 0px;
    border-left: 1px solid #151515;
}
.gitem__actions .gitem__action:nth-child(2)::before {
    content: "";
    display: block;
    width: 8px;
    height: 2px;
    background: rgb(255, 255, 255);
  }
.gitem__action{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1px;
    cursor: pointer;
    user-select: none;
}
.gitem__info{
    margin-left: auto;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #292929;
}

/*   MODAL   */

.gmodal{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.gmodal__inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gmodal__inputs input{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #bababa;
    transition: 0.2s linear all;
}
.gmodal__input{
    display: flex;
    gap: 2px;
    flex-direction: column;
}
.gmodal__inputs input:focus{
    border: 1px solid #606060 !important;
}
.gmodal__name{
    width: 180px;
}
.gmodal__times{
    width: 50px;
}
.gmodal__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.gmodal__delete{
    background-color: #ab1a1a;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.gmodal__save{
    background-color: #000000;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.gmodal__reset{
    display: flex;
    flex-direction: column;
}
.gmodal__reset p{
    font-size: 16px;
}
.greset{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
}
.greset__item{
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}
.greset__item.active{
    background-color: #000000;
    color: #fff;
}
.gmodal__error{
    background-color: #1f1f1fd0;
    padding: 7px 10px;
    border-radius: 15px;
    width: 180px;
    height: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    backdrop-filter: blur(10px);
    outline: 2px solid #434343;
    white-space: pre-line;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50px);
    z-index: 100000;
}