.trackers{
    width: 65vw;
}
.trackers__add{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(65vw - 20px); /*мінус падінг*/
    height: 60px;
    padding: 0px 10px;
    z-index: 5;
    gap: 6px;
}
.trackers__info{
    display: flex;
    align-items: center;
    gap: 20px;
}
.tstart__input{
    width: 450px;
    padding: 8px 0px 8px 8px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.4);
    background-color: rgba(255,255,255,0.7);
}
.tstart__input:focus{
    border: 1px #000000 solid;
}
.trackers__info input::placeholder{
    color: #5b5b5b !important;
}
.wrapper.dark .trackers__info input::placeholder{
    color: #9d9d9d !important;
}
.trackers__info .dropdown-btn, .tlist__header .dropdown-btn{
    height: 35px;
    min-width: 100px;
    max-width: 160px;
    font-size: 16px;
}
.wrapper.dark .trackers__info input{
    background: none;
    border: 2px #c3c3c3 solid;
    color: #fff;
}
.wrapper.dark .trackers__info input:focus{
    border: 2px #fff solid;
}
.trackers__info input::placeholder{
    color: #2D2D2D;
    font-size: 16px;
}
.wrapper.dark .trackers__info input::placeholder{
    color: #e0e0e0;
}
.trackers__start{
    display: flex;
    align-items: center;
    gap: 20px;
}
.trackers__start p{
    font-size: 24px;
    font-weight: 700;
    width: 100px;
}
.trackers__start img{
    width: 40px;
    height: 40px;
    transition: 0.3s ease all;
    cursor: pointer;
}
.wrapper.dark .trackers__start img{
    filter: invert(1)
}
.trackers__start img:hover{
    transform: scale(1.05)
}   

/* TRACKLIST */
.tlist{
    width: 65vw;
    padding: 5px 0px 10px 0px;
    border-radius: 0px 20px 20px 20px;
    position: relative;
    z-index: 2;
    border: none;

}
.tlist__shell{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.tlist__header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat Alternates", serif;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    box-shadow: none;
    width: max-content;
    height: 60px;
    top: -60px;
    border: none;
}
.tlist__header .dropdown__item{
    height: min-content;
}
.tlist__header .dropdown-btn{
    min-width: 200px;
}
.tlist__header .dropdown .dropdown-content{
    background-color: #fff;
}
.wrapper.dark .tlist__header .dropdown .dropdown-content{
    background-color: #131313;
}
.error{
    padding: 10px;
}
.tblock{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.tlist .tblock:nth-child(1){
    margin: 0;
    border-top: none !important;
}
.wrapper.dark .tblock{
    border-top: 4px solid #8b8b8b;
}
.tblock__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.tblock__header p{
    font-size: 16px;
    font-weight: 500;
}
.tblock__header p:nth-child(1){
    font-size: 18px;
    font-weight: 600;
}
.tblock__header span{
    font-size: 16px;
    font-weight: 600;
}
.tblock__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.titem{
    display: flex;
    justify-content: space-between;
    background-color: #e3e3e3;
    padding: 15px 20px;
    margin: 0px 10px;
    border-radius: 15px;
    cursor: pointer;
}
.wrapper.dark .titem{
    background-color: #313131;
}
.titem__edit{
    display: flex;
    align-items: center;
    gap: 20px;
}
.titem__edit .dropdown-btn{
    height: 30px;
    font-size: 16px;
}
.titem__edit .dropdown-btn img{
    width: 15px;
}
.titem__edit .dropdown-content p {
    padding: 5px;
    border-radius: 5px;
}
.titem__edit .dropdown-content{
    border-radius: 5px;
}
.titem__name{
    font-size: 16px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
    outline: 1px solid transparent;
    transition: 0.3s ease all;
    background: rgba(255,255,255,0.0)
}
.wrapper.dark .titem__name{
    color: #fff;
}
.titem__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}
.titem__time{
    display: flex;
    justify-content: space-between;
    width: 100px;
    gap: 5px;
}
.titem__delete{
    display: flex;
    align-items: center;
    gap: 20px;
}
.titem__delete p{
    font-size: 16px;
    font-weight: 600;
}
.titem__delete img{
    width: 30px;
    height: 30px;
    transition: 0.3s ease all;
    cursor: pointer;
}
.titem__delete img:hover{
    transform: scale(1.05)
}
.wrapper.dark .titem__delete img{
    filter: invert(1)
}

.tpages{
    display: flex;
    gap: 10px;
    padding: 5px 20px;
}

.tpages__button{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Montserrat Alternates", serif;
    font-size: 16px;
    cursor: pointer;
}
.tpages__button.choosed{
    border: #000 2px solid;
}
.wrapper.dark .tpages__button.choosed{
    border: #ffffff 2px solid;
}
.wrapper.dark .tpages__button{
    background-color:#262626;
    border: 2px solid #3b3b3b;

}

.tanal{
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 5px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    margin-left: 20px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.1s ease all;
}
.tanal img{
    width: 24px;
    height: 24px;
    filter: invert(0);
    margin: auto;
}
.tanal:hover img{
    transform: scale(1.03)
}
.wrapper.dark .tanal{
    background-color: #000;
}
.wrapper.dark .tanal img{
    filter: invert(1)
}

@media screen and (max-width: 1200px){
    .tanal{
        width: 32px;
        height: 32px;
        margin-left: 15px;
        border-radius: 7px;
    }
    .tanal img{
        width: 22px;
        height: 22px;
    }
}

@media screen and (max-width: 1370px) {
    .trackers__info input{
        width: 300px !important;
    }
}
@media screen and (max-width: 1200px) {
    .trackers__info input{
        width: 200px !important;
    }
    .trackers__start{
        gap: 20px !important;
    }
    .trackers__start p{
        font-size: 20px !important;
    }
    .trackers__add{
        width: calc(75vw - 60px) !important;
    }
    .tlist{
        width: calc(75vw - 40px) !important;
    }
}
@media screen and (max-width: 950px) {
    .trackers__add{
        flex-direction: column !important;
        justify-content: center !important;
        height: 120px !important;
        width: calc(65vw - 40px) !important;
        gap: 10px;
    }
    .trackers__info input{
        width: 200px !important;
        font-size: 14px !important;
    }
    .trackers__info input::placeholder{
        font-size: 14px !important;
    }
    .trackers__info{
        gap: 0px !important;
        justify-content: space-between !important;
        width: 100% !important;
    }
    .trackers__start{
        width: 100% !important;
        justify-content: end !important;
    }
    .trackers__info .dropdown-btn{
        height: 33px !important;
    }
    .titem__delete p, .titem__time p{
        font-size: 14px;
    }
}
@media screen and (max-width: 650px) {
    .trackers__add{
        width: calc(80vw - 40px) !important;
    }
    .dropdown-btn img{
        width: 15px !important;
    }
    .dropdown-btn{
        max-width: 150px;
        min-width: 80px !important;
        font-size: 15px !important;
    }
    .titem__edit .dropdown-btn{
        max-width: 120px;
        font-size: 14px;
        height: 25px;
        border-radius: 8px;
    }
    .titem__edit .dropdown-btn img{
        width: 10px;
    }
}
@media screen and (max-width: 530px){
    .trackers__add{
        height: 160px !important;
    }
    .trackers__info{
        flex-direction: column !important;
        gap: 10px !important;
        align-items: start !important;
    }
}
@media screen and (max-width: 350px) {
    .trackers__info input{
        width: 150px !important;
        border-radius: 7px !important;
    }
    .titem__time{
        display: none;
    }
    .titem__info{
        justify-content: end;
    }
    .tblock__header p:nth-child(2){
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .trackers__add{
        width: calc(95vw - 40px) !important;
    }
}

/*TRACKER LIST ADAPTIVE*/

@media screen and (max-width: 1400px) {
    .titem__info{
        width: 40% !important;
    }
    .titem__edit input, .tblock__miniheader input{
        font-size: 14px;
        max-width: 170px;
    }
}
@media screen and (max-width: 1000px) {
    .tlist__header .dropdown-btn{
        min-width: 160px !important;
    }
}
@media screen and (max-width: 900px) {
    .titem__edit{
        flex-direction: column !important;
        align-items: start !important;
        gap: 5px !important;
    }
    .titem__delete{
        flex-direction: column !important;
        gap: 5px !important;
        align-items: end !important;
    }
    .titem{
        padding: 8px 20px !important;
    }
    .titem__info{
        width: 50% !important;
    }
}
@media screen and (max-width: 700px) {
    .titem__name{
        width: 120px;
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    .tlist{
        width: calc(95vw - 40px) !important;
    }
    .tlist__header{
        font-size: 16px !important;
    }
}
@media screen and (max-width: 500px) {
    .titem__delete p{
        font-size: 14px !important;
    }
    .titem__delete img{
        width: 25px !important;
        height: 25px !important;
    }
    .titem__time p{
        font-size: 14px !important;
    }
    .titem__name, .tblock__miniheader input{
        font-size: 16px !important;
        max-width: 80px !important;
        padding: 5px 5px !important;
    }
    .tlist{
        width: 100vw !important;
        border-radius: 0px !important;
    }
    .titem__edit .dropdown-btn{
        min-width: 60px !important;
        font-size: 14px !important;
    }
    .tblock__header p, .tblock__header span{
        font-size: 15px !important;
    }
    .tlist__header{
        border-radius: 0px 10px 0px 0px !important;
    }
    .titem__info{
        width: 60% !important;
    }
    .tanal{
        right: 25px;
    }
}

/*   MODAL   */

.tmodal{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.tmodal__inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tmodal__inputs input, .tmodal__inputs textarea{
    border-radius: 5px;
    padding: 5px !important;
    border: 1px solid #bababa;
    transition: 0.2s linear all;
    resize: none;
}
.wrapper.dark .tmodal__inputs input,.wrapper.dark .tmodal__inputs textarea{
    background-color: #282828;
    border: 1px solid #353535;
    color: #fff;
}
.tmodal__input{
    display: flex;
    gap: 2px;
    flex-direction: column;
}
.tmodal__inputs input:focus, .tmodal__inputs textarea:focus{
    border: 1px solid #606060 !important;
    outline: none;
}
.tmodal__inputs textarea{
    height: 60px;
    font-size: 14px;
}
.wrapper.dark .tmodal__inputs label{
    color: #fff;
}
.tmodal__name{
    width: 180px !important;
    margin-top: 4px !important;
}
.tmodal__times{
    width: 50px;
}
.tmodal__buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.tmodal__delete{
    background-color: #ab1a1a;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.tmodal__save{
    background-color: #000000;
    border-radius: 5px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
.wrapper.dark .tmodal__save{
    background-color: #fff;
    color: #000;
}
.tmodal__reset{
    display: flex;
    flex-direction: column;
}
.tmodal__reset p{
    font-size: 16px;
}
.wrapper.dark .tmodal__reset p{
    color: #fff;
}
.modal__error{
    background-color: #1f1f1fd0;
    padding: 7px 10px;
    border-radius: 15px;
    width: 180px;
    height: 60px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    backdrop-filter: blur(10px);
    outline: 2px solid #434343;
    white-space: pre-line;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 50px);
    z-index: 100000;
}
.tmodal__time{
    display: flex;
    flex-direction: column;
}
.wrapper.dark .tmodaltime p {
    color: #fff;
}
.tmodaltime__inputs{
    display: flex;
    gap: 5px;
    margin-top: 4px;
}
.tmodaltime__inputs input{
    width: 45px;
}

.tmodal .dropdown{
    width: max-content;
    margin-top: 5px;
}

.tmodal .dropdown-btn{
    font-size: 14px;
    height: 30px;
}
.tlist__header{
    z-index: 3;
}
.tlist__shell{
    position: relative;
}