.settings{
    margin-top: 160px;
}
.settings__main{
    padding: 10px 15px 20px 15px;
    width: 900px;
    min-height: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.settings__block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.settings__block h2{
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings__triangle{
    width: 18px;
    transition: 0.3s ease all;
    transform: rotate(180deg)
}
.settings__triangle.active{
    transform: rotate(0deg)
}
.settings__name{
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
}
.settings__name a{
    color: #000;
}
.wrapper.dark .settings__name a{
    color: #fff;
}
.settings__lang{
    display: flex;
    align-items: center;
    gap: 12px;
}
.lang__select{
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
    outline: 2px solid #000;
    transition: 0.3s ease all;
}
.wrapper.dark .lang__select{
    color: #000;
}
.lang__select:hover{
    transform: scale(1.1)
}
.settings__theme{
    margin-top: 5px;
}
.settings__size{
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings__theme img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.settings__theme img:hover{
    transform: scale(1.1)
}
.settings__info{
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings__select{
    display: flex;
    gap: 20px;
}
.size__select{
    display: flex;
    gap: 5px;
}
.size__action{
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat Alternates", serif;
    cursor: pointer;
}

/*BACKITEM*/
.settings__carousel{
    padding-top: 10px;
    column-count: 4;
    width: 80%;
    margin: auto;
    text-align: center;
}

.backitem{
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    align-items: center;
    margin: 0 1em 1em 1em;
    width: min-content;
    break-inside: avoid; /* Щоб не було перенесень */
}
.backitem.choosed{
    outline: 2px solid #000;
}
.wrapper.dark .backitem.choosed{
    outline: 2px solid #ffffff;
}
.backitem img{
    width: 130px;
    border-radius: 5px;
    pointer-events: none;
}
.backitem__footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
}
.backitem p {
    font-size: 16px;
    font-weight: 500;
}
.wrapper.dark .backitem__button{
    color: #000;
    background-color: #fff;
}

.editnick{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    font-family: "Montserrat Alternates", serif;
    font-size: 16px;
    outline: none;
    border: none;
}
.wrapper.dark .editnick{
    color: #fff;
}
.customize{
    width: 150px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 5px;
}
.customize input{
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    margin-right: auto;
}
.customize p a{
    color: #000;
}
.wrapper.dark .customize p a{
    color: #fff
}
.wrapper.dark .customize input, .wrapper.dark .editnick{
    border: 2px solid #1f1f1f;
    background-color: #171717;
}
.wrapper.dark .customize input:focus, .wrapper.dark .editnick:focus{
    border: 2px solid #343434;
}
.customize h4{
    font-weight: 500;
}
.customize p{
    font-weight: 400;
    font-size: 16px;
}
.customize img{
    width: 100%;
    border-radius: 5px;
}
.customize__field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
}
.customize.choosed{
    outline: 2px solid #000;
}
.wrapper.dark .customize.choosed{
    outline: 2px solid #fff;
}
.helpbtn{
    padding: 4px;
    border: 2px solid #c3c3c3;
    border-radius: 7px;
    margin-right: auto;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px !important;
}
.helpbtn a{
    text-decoration: none;
}
.wrapper.dark .helpbtn{
    border: 2px solid #1f1f1f;
}
.tab{
    display: none;
}
.tab.active{ /*хай бургер буде особливим і винести його крч, absolute зробити*/
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 200px;
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    box-shadow: none;
    border: none;
    border-right: 2px solid #cecece;
}
.wrapper.dark .tab.active{
    border-right: 2px solid #1f1f1f
}
.tab__burger{
    width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 10;
}
.tab__burger .burger-menu{
    align-items: center;
}
.wrapper.dark .tab__burger .burger-menu .line{
    background-color: #fff;
}
.tab__list{
    margin-top: 70px;
    padding: 10px;
    display: none;
    flex-direction: column;
    gap: 15px;
}
.tab__list.active{
    display: flex;
}
.tab__item{
    width: 100%;
    padding: 7px 0px;
    display: flex;
    gap: 10px;
    font-weight: 500;
    color: #000;
    font-family: "Montserrat Alternates", serif;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s ease all;
    background-color: #e8e8e8;
}
.tab__item:hover{
    background-color: #d8d8d8;
}
.tab__item.active{
    background-color: #cecece;
}
.wrapper.dark .tab__item{
    color: #fff;
    background-color: #1e1e1e;
}
.wrapper.dark .tab__item.active{
    background-color: #484848;
}
.wrapper.dark .tab__item:hover{
    background-color: #232323;  
}
.tab__item img{
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
.wrapper.dark .tab__item img{
    filter: invert(1)
}

@media screen and (max-width: 1100px){
    .settings__main{
        width: 500px;
    }
    .customize p{
        display: none;
    }
    .settings__carousel{
        column-count: 2;
    }
}
@media screen and (max-width: 650px){
    .settings__main{
        width: 400px;
    }
    .customize{
        width: 130px;
    }
    .customize input{
        width: 100px;
        font-size: 14px;
    }
    .customize h4{
        font-size: 14px;
    }
}
@media screen and (max-width: 570px){
    .settings__main{
        width: 350px;
        padding: 10px 15px 15px 15px;
    }
    .settings__info{
        font-size: 14px;
    }
    .lang__select{
        width: 20px;
        height: 20px;
    }
    .settings__block h2{
        font-size: 18px;
    }
    .backitem img{
        width: 100px;
    }
    .backitem__button{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px){
    .settings__main{
        width: 300px;
        padding: 10px 15px 15px 15px;
    }
    .settings__carousel{
        column-count: 1;
    }
}
@media screen and (max-width: 350px){
    .settings__main{
        width: 240px;
    }
}