.settings{
    margin-top: 160px;
}
.settings__main{
    padding: 10px 15px 20px 15px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.settings__block{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.settings__block h2{
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings__triangle{
    width: 18px;
    transition: 0.3s ease all;
    transform: rotate(180deg)
}
.settings__triangle.active{
    transform: rotate(0deg)
}
.settings__name{
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
}
.settings__name a{
    color: #000;
}
.wrapper.dark .settings__name a{
    color: #fff;
}
.settings__lang{
    display: flex;
    align-items: center;
    gap: 12px;
}
.lang__select{
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
    outline: 2px solid #000;
    transition: 0.3s ease all;
}
.wrapper.dark .lang__select{
    color: #000;
}
.lang__select:hover{
    transform: scale(1.1)
}
.settings__theme{
    margin-top: 5px;
}
.settings__size{
    display: flex;
    align-items: center;
    gap: 10px;
}
.settings__theme img{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.settings__theme img:hover{
    transform: scale(1.1)
}
.settings__info{
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat Alternates", serif;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settings__select{
    display: flex;
    gap: 20px;
}
.size__select{
    display: flex;
    gap: 5px;
}
.size__action{
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat Alternates", serif;
    cursor: pointer;
}

/*BACKITEM*/
.settings__carousel{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.backitem{
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    align-items: center;
}
.backitem.choosed{
    outline: 2px solid #000;
}
.wrapper.dark .backitem.choosed{
    outline: 2px solid #ffffff;
}
.backitem img{
    width: 130px;
    border-radius: 5px;
}
.backitem__footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
}
.backitem p {
    font-size: 16px;
    font-weight: 500;
}
.wrapper.dark .backitem__button{
    color: #000;
    background-color: #fff;
}

.editnick{
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    color: #000;
    font-family: "Montserrat Alternates", serif;
    font-size: 16px;
    outline: none;
    border: none;
}
.wrapper.dark .editnick{
    color: #fff;
}
.customize{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    gap: 5px;
    width: 265px;
}
.customize__button{
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #000;
    color: #fff;
    transition: 0.3s ease all;
    width: max-content;
    font-family: "Montserrat Alternates", serif;
    user-select: none;
    cursor: pointer;
}
.customize input{
    width: 200px;
    border-radius: 5px;
    padding: 5px;
    margin-right: auto;
}
.customize p a{
    color: #000;
}
.wrapper.dark .customize p a{
    color: #fff
}
.wrapper.dark .customize input, .wrapper.dark .editnick{
    border: 2px solid #1f1f1f;
    background-color: #171717;
}
.wrapper.dark .customize input:focus, .wrapper.dark .editnick:focus{
    border: 2px solid #343434;
}
.customize h4{
    font-weight: 500;
}
.customize p{
    font-weight: 400;
    font-size: 16px;
}
.customize img{
    width: 100%;
    border-radius: 5px;
}
.customize__field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: auto;
}
.customize.choosed{
    outline: 2px solid #000;
}
.wrapper.dark .customize.choosed{
    outline: 2px solid #fff;
}
.helpbtn{
    padding: 6px;
    border: 2px solid #c3c3c3;
    border-radius: 7px;
    margin-right: auto;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
}
.helpbtn a{
    text-decoration: none;
}
.wrapper.dark .helpbtn{
    border: 2px solid #1f1f1f;
}

@media screen and (max-width: 1100px){
    .settings__main{
        width: 500px;
    }
    .customize{
        width: 200px;
    }
    .customize input{
        width: 150px;
    }
    .customize p{
        display: none;
    }
}
@media screen and (max-width: 650px){
    .settings__main{
        width: 400px;
    }
    .customize{
        width: 130px;
    }
    .customize input{
        width: 100px;
        font-size: 14px;
    }
    .customize h4{
        font-size: 14px;
    }
}
@media screen and (max-width: 570px){
    .settings__main{
        width: 350px;
        padding: 10px 15px 15px 15px;
    }
    .settings__info{
        font-size: 14px;
    }
    .lang__select{
        width: 20px;
        height: 20px;
    }
    .settings__block h2{
        font-size: 18px;
    }
    .backitem img{
        width: 100px;
    }
    .backitem__button{
        font-size: 13px;
    }
}
@media screen and (max-width: 400px){
    .settings__main{
        width: 300px;
        padding: 10px 15px 15px 15px;
    }
}
@media screen and (max-width: 350px){
    .settings__main{
        width: 240px;
    }
    .backitem img{
        width: 80px;
    }
    .backitem__button{
        font-size: 12px;
    }
    .backitem{
        padding: 10px 5px;
    }
}