.header__logo{
    font-family: "Montserrat Alternates", serif;
    cursor: pointer;
    position: absolute;
    left: 40px;
    top: 30px;
}
.header__logo a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}