.calendar__content{
    border-radius: 15px;
    max-width: 80vw;
    height: 500px;
    display: flex;
    padding: 15px 20px;
    overflow-x: auto;
    overflow-y: hidden;
    backdrop-filter: blur(5px);
}
.calendar__content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.calendar__content::-webkit-scrollbar-track, .calendarday::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
}

.calendar__content::-webkit-scrollbar-thumb, .calendarday::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 4px;
}

.calendar__content::-webkit-scrollbar-thumb:hover, .calendarday::-webkit-scrollbar-thumb:hover {
    background: #868686;
}
.wrapper.dark .calendar__content{
    background-color: rgba(0,0,0,0.85)
}
.calendarday{
    display: flex;
    border-right: 1px solid rgba(0,0,0,0.3);
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 240px;
    min-width: 240px;
}
.calendarday__header{
    color: #535353;
}
.calendarday__header.active{
    color: #000
}

.calendarday::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.wrapper.dark .calendarday{
    color: #fff;
    border-right: 1px solid #424242;
}
.calendar__content .calendarday:last-child{
    border: none
}
.calendar__header{
    font-size: 14px;
    font-weight: 600;
}
.calendarlist{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendarlist .calendaritem__provider:last-child{
    padding: 10px 0px 0px 0px;
}
.calendarlist .calendaritem__provider:first-child{
    padding: 5px 0px 10px 0px;
}
.calendaritem__provider{
    padding: 10px 0px;
}
.calendaritem{
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3) !important;
    display: inline-flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    width: 210px;
    padding: 5px 5px 5px 10px;
    z-index: 10000;
}
.wrapper.dark .calendaritem{
    border: 1px solid #666666 !important;
}
.calendaritem.dragging{
    position: fixed !important;
    transform: rotate(2deg);
    backdrop-filter: blur(3px);
    pointer-events: none;
}
.calendaritem.dragging input{
    cursor: grabbing;
}
.calendaritem__circle{
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-radius: 50%;
    transition: 0.3s ease all;
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendaritem__circle.active{
    background-color: #000;
}
.wrapper.dark .calendaritem__circle{
    border: 2px solid #fff;
}
.wrapper.dark .calendaritem__circle.active{
    background-color: #fff;
}

.calendaritem__circle svg {
    display: none;
    width: 18px;
    height: 18px;
    color: white;
}

.calendaritem__circle.active svg {
    display: block;
}

.wrapper.dark .calendaritem__circle.active svg {
    color: black;
}
.calendaritem__text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    width: 90%;
}
.calendaritem__text input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 2px;
    border: 2px solid rgba(0,0,0,0);
    transition: 0.3s ease all;
    background: rgba(255,255,255,0);
}
.calendaritem__text input:hover{
    border: 2px solid #ccc
}
.calendaritem__text input:focus{
    border: 2px solid #a8a8a8;
}
.calendartext__desc{
    color: #393939;
}
.wrapper.dark .calendaritem__text input{
    background: rgba(255,255,255,0);
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0)
}
.wrapper.dark .calendaritem__text input:hover{
    border: 2px solid #fff
}
.calendaritem__text input:nth-child(1){
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", serif;
}
.calendaritem__text input:nth-child(2){
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", serif;
}
.calendar__images{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: auto;
}
.calendaritem__img{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.wrapper.dark .calendaritem__img{
    filter: invert(1)
}
.calendaritem__img:hover{
    transform: scale(1.05);
}
.calendaradd{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.calendaradd p {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.calendarform{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;
    border: 2px solid #bcbcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease all;
}
.calendarform:has(input:focus), .calendarform:has(textarea:focus) {
    border: 2px solid #979797;
}
.calendarform__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
}
.calendarform__inputs input{
    width: 100%;
    height: 25px;
    background-color: rgba(0,0,0,0)
}
.calendarforminput{
    outline: 2px solid #c4c4c4;
    font-family: "Montserrat Alternates", serif;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding-left: 3px;
}
.wrapper.dark .calendarforminput {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    outline: 2px solid rgba(0,0,0,0)
}
.calendarform__inputs textarea{
    background-color: rgba(0,0,0,0);
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 35px;
    min-height: 20px;
    max-height: 55px;
    padding-top: 3px;
}
.wrapper.dark .calendarform__inputs input::placeholder{
    color: #d7d7d7;
}
.wrapper.dark .calendarform__inputs textarea::placeholder{
    color: #d7d7d7;
}
.calendar__footer {
    width: 90%;
    display: flex;
    justify-content: end;
}
.calendarform__button{
    border-radius: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #fff;
}
.wrapper.dark .calendarform__button{
    filter: invert(1)
}
/* CALENDAR TIME */
.calendaritem{
    position: relative;
    padding-bottom: 30px;
}
.calendartime{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
}
.calendartime input {
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(0,0,0,0);
    border-radius: 5px;
    color: #000;
    font-family: "Montserrat Alternates", serif;
    width: 65px;
    padding: 0px 2px;
    transition: 0.3s ease all;
}
.wrapper.dark .calendartime input{
    color: #fff;
}
.calendartime input:hover{
    border: 2px solid #ccc;
}
.calendartime input:focus {
    border: 2px solid #a8a8a8;
}
.calendartime img{
    width: 20px;
    height: 20px;
    padding: 2px;
    cursor: pointer;
}
.wrapper.dark .calendartime img{
    filter: invert(1)
}

/* DRAG ITEM */

.dragitem{
    background-color: rgba(0, 0, 0, 0.2);
    width: 210px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    height: 90px;
    box-sizing: border-box;
}
.calendarlist .dragitem:last-child{
    padding: 10px 0px 0px 0px;
}
.calendarlist .dragitem:first-child{
    padding: 5px 0px 10px 0px;
}
.dragitem{
    padding: 10px 0px;
}
.wrapper.dark .dragitem{
    background-color: rgba(255, 255, 255, 0.1);
}

/* MENU */

.calendarmenu{
    padding: 7px;
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 5px;
    border-radius: 10px;
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 10001;
}
.calendarmenu__item{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s ease all;
    padding: 5px;
    border-radius: 5px;
}
.calendarmenu__item:hover{
    background-color: rgba(0,0,0,0.1);
}
.wrapper.dark .calendarmenu__item:hover{
    background-color: rgba(255,255,255,0.1);
}
.calendarmenu__item img{
    width: 25px;
    height: 25px;
    filter: invert(0.1)
}
.wrapper.dark .calendarmenu__item img{
    filter: invert(1)
}

/* ПРІОРИТЕТИ */
.priorities{
    flex-direction: column;
    align-items: start;
    cursor: default;
    border-top: 1px solid rgba(0,0,0,0.15);
    border-radius: 0;
}
.priorities:hover, .wrapper.dark .priorities:hover{
    background-color: rgba(0,0,0,0);
}
.priorities h4{
    font-weight: 500;
}
.priorities__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.priorities__checkbox{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}
.wrapper.dark .priorities__checkbox{
    background-color: rgba(255,255,255,0.05);
}
.red{
    border: 2px solid #cf3e3e;
}
.red.active{
    background-color: #cf3e3e !important;
}
.yellow{
    border: 2px solid #deac2c;;
}
.yellow.active{
    background-color: #deac2c !important;
}
.blue{
    border: 2px solid #21aad4;
}
.blue.active{
    background-color: #21aad4 !important;
}
.gray{
    border: 2px solid #979797;
}
.gray.active{
    background-color: #979797 !important;
}
.calendaritem.red, .wrapper.dark .calendaritem.red{
    border-left: 4px solid #cf3e3e !important;
}
.calendaritem.yellow, .wrapper.dark .calendaritem.yellow{
    border-left: 4px solid #deac2c !important;
}
.calendaritem.blue, .wrapper.dark .calendaritem.blue{
    border-left: 4px solid #21aad4 !important;
}
.calendaritem.gray, .wrapper.dark .calendaritem.gray{
    border-left: 4px solid #979797 !important;
}

/* EXPIRED DATE */
.expired__date{
    background-color: #be3232;
    color: #fff;
    border-radius: 0 0 5px 5px;
    width: 70px;
    font-size: 12px;
    margin-left: 0px;
    text-align: center;
}
@media screen and (max-width: 2000px){
    .calendar__content{
        max-width: 85vw;
    }
}
@media screen and (max-width: 1600px){
    .calendarday{
        width: 215px;
        min-width: 215px;
    }
    .calendaritem, .dragitem{
        width: 200px;
    }
    .calendaradd p{
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px){
    .calendar__content{
        max-width: 90vw;
    }
    .calendarday{
        width: 200px;
        min-width: 200px;
    }
    .calendaritem, .dragitem{
        width: 185px;
    }
    .calendaritem__text{
        width: 135px;
    }
    .calendaritem__circle{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 500px){
    .calendar__content{
        flex-direction: column;
        min-width: 100vw;
        gap: 20px;
        align-items: center;
        height: auto;
        padding: 10px 15px;
    }
    .calendarday{
        width: 100%;
        border-right: none;
        max-height: 500px;
        align-items: start;
    }
    .calendar__content .calendarday:last-child{
        border: none;
    }
    .calendarday__header{
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid rgba(0,0,0,0.15);
        width: 100%;
        padding: 0px 0px 5px 15px;
    }
    .calendarlist{
        width: 100%;
        padding: 15px 0px 15px 15px;
        align-items: start;
    }
    .calendaradd{
        padding: 0px 0px 0px 15px;
        align-items: start;
    }
    .calendaritem{
        width: 230px;
    }
    .calendarform{
        width: 200px;
        height: 130px;
    }
}