.calendar__content{
    border-radius: 15px;
    max-width: 80vw;
    height: 500px;
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    overflow-x: auto;
    overflow-y: hidden;
    backdrop-filter: blur(5px);
}
.calendar__content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

.calendar__content::-webkit-scrollbar-track, .calendarday::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
}

.calendar__content::-webkit-scrollbar-thumb, .calendarday::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 4px;
}

.calendar__content::-webkit-scrollbar-thumb:hover, .calendarday::-webkit-scrollbar-thumb:hover {
    background: #868686;
}
.calendarday{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #636363;
    padding: 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 230px;
    min-width: 230px;
}
.calendarday::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
.wrapper.dark .calendarday{
    color: #fff;
    border: 2px solid #403f3f;
    background-color: rgba(22, 22, 22, 0.6);
}
.calendar__header{
    font-size: 14px;
    font-weight: 600;
}
.calendarlist{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendarlist .calendaritem__provider:last-child{
    padding: 10px 0px 0px 0px;
}
.calendarlist .calendaritem__provider:first-child{
    padding: 5px 0px 10px 0px;
}
.calendaritem__provider{
    padding: 10px 0px;
}
.calendaritem{
    position: relative;
    border-radius: 8px;
    border: 2px solid #424242;
    display: inline-flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    width: 210px;
    padding: 5px 5px 5px 10px;
    z-index: 10000;
}
.calendaritem.dragging{
    position: fixed !important;
    transform: rotate(2deg);
    backdrop-filter: blur(3px);
    pointer-events: none;
}
.calendaritem.dragging input{
    cursor: grabbing;
}
.wrapper.dark .calendaritem{
    border: 2px solid #b0b0b0;
}
.calendaritem__circle{
    width: 18px;
    height: 18px;
    border: 3px solid #000;
    border-radius: 50%;
    transition: 0.3s ease all;
    cursor: pointer;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendaritem__circle.active{
    background-color: #000;
}
.wrapper.dark .calendaritem__circle{
    border: 3px solid #fff;
}
.wrapper.dark .calendaritem__circle.active{
    background-color: #fff;
}

.calendaritem__circle svg {
    display: none;
    width: 18px;
    height: 18px;
    color: white;
}

.calendaritem__circle.active svg {
    display: block;
}

.wrapper.dark .calendaritem__circle.active svg {
    color: black;
}
.calendaritem__text{
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    width: 90%;
}
.calendaritem__text input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 2px;
    border: 2px solid rgba(0,0,0,0);
    transition: 0.3s ease all;
    background: rgba(255,255,255,0);
}
.calendaritem__text input:hover{
    border: 2px solid #ccc
}
.calendaritem__text input:focus{
    border: 2px solid #a8a8a8;
}
.calendartext__desc{
    color: #393939;
}
.wrapper.dark .calendaritem__text input{
    background: rgba(255,255,255,0);
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0)
}
.wrapper.dark .calendaritem__text input:hover{
    border: 2px solid #fff
}
.calendaritem__text input:nth-child(1){
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", serif;
}
.calendaritem__text input:nth-child(2){
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", serif;
}
.calendar__images{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.calendaritem__img{
    width: 22px;
    height: 22px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.wrapper.dark .calendaritem__img{
    filter: invert(1)
}
.calendaritem__img:hover{
    transform: scale(1.05);
}
.calendaradd{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
}
.calendaradd p {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.calendarform{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 0px;
    border: 2px solid #bcbcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.2s ease all;
}
.calendarform:has(input:focus), .calendarform:has(textarea:focus) {
    border: 2px solid #979797;
}
.calendarform__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 90%;
}
.calendarform__inputs input{
    width: 100%;
    height: 25px;
    background-color: rgba(0,0,0,0)
}
.calendarforminput{
    outline: 2px solid #c4c4c4;
    font-family: "Montserrat Alternates", serif;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding-left: 3px;
}
.wrapper.dark .calendarforminput {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    outline: 2px solid rgba(0,0,0,0)
}
.calendarform__inputs textarea{
    background-color: rgba(0,0,0,0);
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 35px;
    min-height: 20px;
    max-height: 55px;
    padding-top: 3px;
}
.wrapper.dark .calendarform__inputs input::placeholder{
    color: #d7d7d7;
}
.wrapper.dark .calendarform__inputs textarea::placeholder{
    color: #d7d7d7;
}
.calendar__footer {
    width: 90%;
    display: flex;
    justify-content: end;
}
.calendarform__button{
    border-radius: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #fff;
}
.wrapper.dark .calendarform__button{
    filter: invert(1)
}
@media screen and (max-width: 2000px){
    .calendar__content{
        width: 85vw;
    }
}
@media screen and (max-width: 1600px){
    .calendarday{
        width: 215px;
        min-width: 215px;
    }
    .calendaritem, .dragitem{
        width: 200px;
    }
    .calendaradd p{
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px){
    .calendar__content{
        width: 90vw;
    }
    .calendarday{
        width: 200px;
        min-width: 200px;
    }
    .calendaritem, .dragitem{
        width: 185px;
    }
    .calendaritem__text{
        width: 135px;
    }
    .calendaritem__circle{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 900px){
    .calendar__content{
        min-width: 100vw;
        border-radius: 0px;
    }
    .calendar__content .calendarday:nth-child(1){
        margin-left: 20px;
    }
    .calendar__content .calendarday:last-child{
        margin-right: 20px;
    }
}
@media screen and (max-width: 700px){
    .calendarday{
        width: 200px;
        min-width: 200px;
    }
    .calendaritem, .dragitem{
        width: 180px;
        gap: 10px;
    }
    .calendar__content{
        height: 500px;
    }
    .calendaritem__text{
        width: 115px;
    }
}
@media screen and (max-width: 500px){
    .calendar__content{
        height: 450px;
    }
    .calendaradd p {
        font-size: 16px;
    }
}

/* CALENDAR TIME */
.calendaritem{
    position: relative;
    padding-bottom: 35px;
}
.calendartime{
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    gap: 5px;
    border-top: 2px #ccc solid;
    width: 100%;
    box-sizing: border-box;
}
.calendartime input {
    font-size: 14px;
    background-color: rgba(0,0,0,0);
    border: 2px solid rgba(0,0,0,0);
    border-radius: 5px;
    color: #000;
    font-family: "Montserrat Alternates", serif;
    width: 65px;
    padding: 0px 2px;
    transition: 0.3s ease all;
}
.wrapper.dark .calendartime input{
    color: #fff;
}
.calendartime input:hover{
    border: 2px solid #ccc;
}
.calendartime input:focus {
    border: 2px solid #a8a8a8;
}
.calendartime img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.wrapper.dark .calendartime img{
    filter: invert(1)
}

/* DRAG ITEM*/

.dragitem{
    background-color: rgba(0, 0, 0, 0.2);
    width: 210px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    height: 90px;
    box-sizing: border-box;
}
.calendarlist .dragitem:last-child{
    padding: 10px 0px 0px 0px;
}
.calendarlist .dragitem:first-child{
    padding: 5px 0px 10px 0px;
}
.dragitem{
    padding: 10px 0px;
}
.wrapper.dark .dragitem{
    background-color: rgba(255, 255, 255, 0.1);
}