.calendar__content{
    border-radius: 15px;
    max-width: 80vw;
    height: 500px;
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    overflow-x: auto;
    overflow-y: hidden;
}
.calendarday{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #636363;
    padding: 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 230px;
    min-width: 230px;
}
.wrapper.dark .calendarday{
    color: #fff;
    border: 2px solid #403f3f;
    background-color: rgba(22, 22, 22, 0.6);
}
.calendar__header{
    font-size: 14px;
    font-weight: 600;
}
.calendarlist{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.calendaritem{
    border-radius: 8px;
    border: 2px solid #424242;
    display: inline-flex;
    gap: 15px;
    justify-content: start;
    align-items: center;
    width: 210px;
    padding: 5px 5px 5px 10px;
}
.wrapper.dark .calendaritem{
    border: 2px solid #b0b0b0;
}
.calendaritem__circle{
    width: 20px;
    height: 20px;
    border: 3px solid #000;
    border-radius: 50%;
    transition: 0.3s ease all;
    cursor: pointer;
    flex: 0 0 auto;
}
.calendaritem__circle.active{
    background-color: #000;
}
.wrapper.dark .calendaritem__circle{
    border: 3px solid #fff;
}
.wrapper.dark .calendaritem__circle.active{
    background-color: #fff;
}
.calendaritem__circle:hover{
    transform: scale(1.05)
}
.calendaritem__text{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    width: 90%;
}
.calendaritem__text input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 2px;
    border: 2px solid #fff;
    transition: 0.3s ease all;
    background: rgba(255,255,255,0);
}
.calendaritem__text input:hover{
    border: 2px solid #000;
}
.wrapper.dark .calendaritem__text input{
    background: rgba(255,255,255,0);
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0)
}
.wrapper.dark .calendaritem__text input:hover{
    border: 2px solid #fff
}
.calendaritem__text input:nth-child(1){
    font-size: 14px;
    font-weight: 600;
    font-family: "Montserrat", serif;
}
.calendaritem__text input:nth-child(2){
    font-size: 12px;
    font-weight: 500;
    font-family: "Montserrat", serif;
}
.calendaritem__delete{
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: 0.3s ease all;
}
.wrapper.dark .calendaritem__delete{
    filter: invert(1)
}
.calendaritem__delete:hover{
    transform: scale(1.05);
}
.calendaradd{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
}
.calendaradd p {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.calendarform{
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.calendarform__inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.calendarform__inputs input{
    color: #000;
    border: none;
    outline: 2px solid #424242;
    border-radius: 5px;
    width: 160px;
    height: 25px;
    font-family: "Montserrat Alternates", serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 2px;
    transition: 0.2s ease all;
}
.wrapper.dark .calendarform__inputs input::placeholder{
    color: #d7d7d7;
}
.wrapper.dark .calendarform__inputs input{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    outline: 2px solid rgba(0, 0, 0, 0)
}
.wrapper.dark .calendarform__inputs input:hover{
    outline: 2px solid #fff;
}
.calendarform__inputs input:focus{
    outline: 2px solid #000;
}
.wrapper.dark .calendarform__inputs input:focus{
    outline: 2px solid #fff;
}
.calendarform__inputs textarea{
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    height: 50px;
    min-height: 25px;
    max-height: 75px;
    outline: 2px solid #424242;
    border: none;
    border-radius: 5px;
    font-family: "Montserrat Alternates", serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 2px;
}
.wrapper.dark .calendarform__inputs textarea{
    transition: 0.2s ease all;
}
.calendarform__inputs textarea:focus{
    outline: 2px solid #000;
}
.wrapper.dark .calendarform__inputs textarea::placeholder{
    color: #d7d7d7;
}
.wrapper.dark .calendarform__inputs textarea{
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    outline: 2px solid rgba(0, 0, 0, 0)
}
.wrapper.dark .calendarform__inputs textarea:hover{
    outline: 2px solid #fff;
}
.wrapper.dark .calendarform__inputs textarea:focus{
    outline: 2px solid #fff;
}
.calendarform__button{
    background-color: #000;
    border-radius: 5px;
    font-family: "Montserrat Alternates", serif;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    transition: 0.3s ease all;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.wrapper.dark .calendarform__button{
    background-color: #fff;
    color: #000;

}
.calendarform__button:hover{
    transform: scale(1.05)
}
@media screen and (max-width: 2000px){
    .calendar__content{
        width: 85vw;
    }
}
@media screen and (max-width: 1600px){
    .calendarday{
        width: 215px;
        min-width: 215px;
    }
    .calendaritem{
        width: 200px;
    }
    .calendaradd p{
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px){
    .calendar__content{
        width: 90vw;
    }
    .calendarday{
        width: 200px;
        min-width: 200px;
    }
    .calendaritem{
        width: 185px;
    }
    .calendaritem__text{
        width: 135px;
    }
    .calendaritem__circle{
        width: 15px;
        height: 15px;
    }
}
@media screen and (max-width: 900px){
    .calendar__content{
        min-width: 100vw;
        border-radius: 0px;
    }
    .calendar__content .calendarday:nth-child(1){
        margin-left: 20px;
    }
    .calendar__content .calendarday:last-child{
        margin-right: 20px;
    }
}
@media screen and (max-width: 700px){
    .calendarday{
        width: 200px;
        min-width: 200px;
    }
    .calendaritem{
        width: 180px;
        gap: 10px;
    }
    .calendar__content{
        height: 500px;
    }
    .calendaritem__text{
        width: 115px;
    }
}
@media screen and (max-width: 500px){
    .calendar__content{
        height: 450px;
    }
    .calendaradd p {
        font-size: 16px;
    }
}