.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97vw;
    margin: 20px 15px;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}
.footer__right, .footer__left{
    display: flex;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
}
.footer img{
    width: 22px;
    height: 22px;
    transition: 0.2s ease all;
}
.footer a{
    display: flex;
    background-color: #fff;
    padding: 7px;
    border-radius: 10px;
    transition: 0.3s ease all;
}
.mylink.active a{
    background-color: #000;
}
.mylink.active a img{
    filter: invert(1)
}
.footer a:hover{
    background-color: #000;
}
.footer a:hover img{
    filter: invert(1)
}
.footer__union{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}
@media screen and (max-width: 800px) {
    .footer{
        justify-content: center;
        flex-direction: row-reverse;
    }
}
@media screen and (max-width: 600px) {
    .footer{
        justify-content: center;
        flex-direction: row-reverse;
    }
    .footer__right, .footer__left{
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}