@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", serif;
font-family: "Montserrat Alternates", serif;
*/
html,
.wrapper {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}p,li,h1,h2,h3,h4,h5,h6,a,pre {
  font-family: "Montserrat Alternates", serif;
}
input {
  outline: none;
}
.none {
  display: none !important;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
}
.wrapper::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--darkness, rgba(0,0,0,0.2));
  height: 100%;
}
body .wrapper.theme0  {
  background-image: url("./assets/theme0.jpg") !important;
  background-position: top;
 }
.wrapper.theme1  { background-image: url("./assets/theme1.jpg") !important; }
.wrapper.theme2  { background-image: url("./assets/theme2.jpg") !important; }
.wrapper.theme3  { background-image: url("./assets/theme3.jpg") !important; }
.wrapper.theme4  { background-image: url("./assets/theme4.jpg") !important; }
.wrapper.theme5  { background-image: url("./assets/theme5.jpg") !important; }
.wrapper.theme6  { background-image: url("./assets/theme6.jpg") !important; }
.wrapper.theme7  { background-image: url("./assets/theme7.jpg") !important; }
.wrapper.theme8  { background-image: url("./assets/theme8.jpg") !important; }
.wrapper.theme9  { background-image: url("./assets/theme9.jpg") !important; }
.wrapper.theme10 { background-image: url("./assets/theme10.jpg") !important; }
.wrapper.theme11 { background-image: url("./assets/theme11.jpg") !important; }
.wrapper.theme12 { background-image: url("./assets/theme12.jpg") !important; }
.wrapper.theme13 { background-image: url("./assets/theme13.jpg") !important; }
.wrapper.theme14 { background-image: url("./assets/theme14.jpg") !important; }
.wrapper.theme15 { background-image: url("./assets/theme15.jpg") !important; }
.wrapper.theme16 { background-image: url("./assets/theme16.jpg") !important; }
.wrapper.theme17 { background-image: url("./assets/theme17.jpg") !important; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  margin-top: 80px;
  margin-bottom: 100px;
}

html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.12rem;
  background-color: #000000;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #ffffff;
}
::selection {
  background-color: #141416;
  color: #ffffff;
}
.wrapper.dark ::selection {
  background-color: #ffffff;
  color: #000000;
}
@supports (-moz-appearance: none) {
  * {
    scrollbar-width: 0.5rem;
    scrollbar-color: #000000 #ffffff;
  }
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

/*
ANIMATION
*/

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*
BLOCK
*/

/* .newblock{
  background-color: rgba(255,255,255,0.9);
  color: #000;
  border: 1px solid #cecece;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
  backdrop-filter: blur(2px)
} */
 .newblock{
  color: #000;
  backdrop-filter: blur(15px);
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 1px 8px rgba(0,0,0,0.25);
  border: 1px solid rgba(255,255,255,0.3)
 }
/* .wrapper.dark .newblock{ */
  /* background-color: #222222; */
  /* background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border: none;
  box-shadow: none;
  backdrop-filter: blur(5px)
} */

.wrapper.dark .newblock{
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: none;
  box-shadow: 0 1px 8px rgba(0,0,0,0.25);
  backdrop-filter: blur(15px)
}

/* RANGE */
input[type="range"]{
  width: 80%;
  height: 10px;
  border: none;
  outline: none;
  background: none;
}

input[type="range"]::-moz-range-track, input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  background: #404040;
  border-radius: 5px;
}

/* Стиль повзунка */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

input[type="range"]::-moz-range-thumb, input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}
img{
  user-select: none;
}
